header, footer, nav {
  background-color: crimson;
  color: white;
  margin: 5px;
  padding: 5px;
  font-family: "Chalkduster";
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

button {
  border-radius: 12px;
  margin: 5px;
}

footer, .card {
  text-align: center;
}

.bubbles {
  height: 75px;
}

.card {
  padding: 0.5em;
}

.edububble {
  width: 50%;
  border-radius: 12px;
  display: block;
  margin: 10px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.post {
  width: 75%;
  border: 1px solid black;
  margin: 5px auto;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

iframe {
  border-radius: 12px;
}

.logo {
  height: 50px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.firebase:hover {
  filter: drop-shadow(0 0 2em #fcca3faa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
    iframe {
      width: 336px;
      height: 189px;
    }
  }


