header, footer {
  background-color: crimson;
  color: white;
  padding: 10px;
  font-family: "Chalkduster";
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

header {
  display: flex;
  justify-content: center;
}

footer, .card {
  text-align: center;
}

.bubbles {
  height: 75px;
}

.card {
  padding: 1em;
}

.card p {
  font-family: "Arial";
}

.patience {
  width: 50%;
  border-radius: 12px;
  display: block;
  margin: 10px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.logo {
  height: 50px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.firebase:hover {
  filter: drop-shadow(0 0 2em #fcca3faa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


